name: "Fast-Forward merge"
on:
  issue_comment:
    types: [created]

jobs:
  FastForwardMerge:
    # Only run if the comment is exactly "/merge"
    if: ${{ github.event.issue.pull_request && github.event.comment.body == '/merge' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push changes
      pull-requests: write  # To post to PR on failure
      statuses: write  # To create the commit status
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Get PR refs/shas
        id: pr_details
        run: |
          PR_NUMBER=${{ github.event.issue.number }}
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_OUTPUT

          FROM_REF=$(gh pr view $PR_NUMBER --repo ${{ github.repository }} --json headRefName --jq .headRefName)
          echo "FROM_REF=$FROM_REF" >> $GITHUB_OUTPUT

          INTO_REF=$(gh pr view $PR_NUMBER --repo ${{ github.repository }} --json baseRefName --jq .baseRefName)
          echo "INTO_REF=$INTO_REF" >> $GITHUB_OUTPUT

          FROM_SHA=$(gh pr view $PR_NUMBER --repo ${{ github.repository }} --json headRefOid --jq .headRefOid)
          echo "FROM_SHA=$FROM_SHA" >> $GITHUB_OUTPUT

      - name: Validate PR is staging → main
        run: |
          if [[ "${{ steps.pr_details.outputs.FROM_REF }}" != "staging" || \
                "${{ steps.pr_details.outputs.INTO_REF }}" != "main" ]]; then
            echo "❌ This action only supports merging staging into main."
            exit 1
          fi

      - uses: actions/checkout@v4
        with:
          ref: ${{ steps.pr_details.outputs.INTO_REF }}

      - name: Fast-Forward Merge PR
        run: |
          git fetch origin ${{ steps.pr_details.outputs.FROM_REF }}
          git merge --ff-only origin/${{ steps.pr_details.outputs.FROM_REF }}

      - name: Register check to the PR to make pushing possible
        if: ${{ success() || failure() }}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
             /repos/${{ github.repository }}/statuses/${{ steps.pr_details.outputs.FROM_SHA }} \
             -f 'state=${{ job.status }}' \
             -f 'description=FF Merge ${{ job.status }}' \
             -f 'context=FF Merge'

      - name: Push FF-merged changes
        if: ${{ success() }}
        run: |
            git push origin HEAD:${{ steps.pr_details.outputs.INTO_REF }}
